@import "../../../../src/styles/variables.scss";

.product__info {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen__desktop) {
        padding: 1.25rem;
        border: 2px solid $gray__light;
    }

    .product__header {
        text-transform: uppercase;
        color: $dark;
        margin-bottom: 1.5rem;
        display: none;

        h2 {
            font-weight: 700;
            font-size: 1.625rem;
        }

        @media screen and (min-width: $screen__desktop) {
            display: block;
        }
    }

    .product__price {
        .cost {
            display: flex;
            gap: 0.3rem;
            flex-direction: column;

            @media screen and (min-width: $screen__desktop) {
                flex-direction: row;
                align-items: center;
            }

            .price {
                font-size: 0.75rem;
                color: $orange;
                text-decoration: line-through;
            }
        }
    }

    .parcel {
        color: $gray__medium;
        font-size: 0.75rem;
    }
}
