$font__family: "Montserrat", sans-serif;

$gray__light: #cccccc;
$gray: #686868;

$screen__mobile: 20rem;
$screen__desktop: 80rem;

@mixin container {
    max-width: 100%;
    margin: 0 1rem;

    @media screen and (min-width: $screen__desktop) {
        margin: 0 2.5rem;
    }
}
