@import "../../../../src/styles/variables.scss";

.color {
    .color__name {
        margin-bottom: 0.875rem;
    }
    .radio__container {
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        margin-right: 0.5rem;

        .radio__input {
            display: none;
        }

        .radio__style {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}
