@import "../../../../src/styles/variables.scss";

.header {
    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include container;
        padding: 1.125rem 0;

        @media screen and (min-width: $screen__desktop) {
            padding: 1.625rem;
        }

        .menu__burger {
            @media screen and (min-width: $screen__desktop) {
                display: none;
            }
        }

        .right__items {
            display: flex;
            align-items: center;
            gap: 1rem;

            @media screen and (min-width: $screen__desktop) {
                display: none;
            }
        }
    }

    @media screen and (min-width: $screen__desktop) {
        border-bottom: 1px solid $gray__light;

        .right__items {
            display: none;
        }
    }
}

.menu__nav {
    overflow: hidden;

    .login {
        display: none;
        font-size: 0.75rem;

        span a {
            display: block;
            color: $gray;
            padding: 1rem 0;
        }

        @media screen and (min-width: $screen__desktop) {
            display: block;
        }
    }

    .menu__list {
        @media screen and (min-width: $screen__desktop) {
            display: flex;
            gap: 2.5rem;
        }
    }

    .search__cart {
        display: none;

        .search {
            display: flex;
            align-items: center;
            gap: 0.6rem;
            padding: 1rem 0;
            border-bottom: 1px solid $gray__light;
            width: 5rem;
            input {
                color: $gray;
            }
        }

        .cart {
            display: flex;
            align-items: center;
            gap: 0.6rem;
            margin-left: 1rem;
        }

        @media screen and (min-width: $screen__desktop) {
            display: flex;
            gap: 1rem;
        }
    }

    @media screen and (min-width: $screen__desktop) {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $gray__light;
    }
}
